body {
  background: linear-gradient(135deg, #74b9ff, #0984e3);
  height: 100vh;
}

.card {
  border-radius: 15px;
  background: #fff;
}

.btn-primary {
  background-color: #0984e3;
  border: none;
}

.btn-primary:hover {
  background-color: #74b9ff;
}
